* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


header {
    background-color: #003366;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo img {
    width: 75%;
    display: block;
    height: auto;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20%;
}

.Introdução {
    margin-top: 20px;
    
}

.Introduçãotxt {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.Introduçãotxt img {
    width: 75%;
    height: auto;
    border-radius: 10px;
    display: block;
}

.Introduçãotxt h3 {
    margin-bottom: 10px;
}

.Introduçãotxt a {
    color: #003366;
    text-decoration: none;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
